body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Top Red Bar */
.top-bar {
    height: 45px;
    background-color: rgb(195, 23, 23);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.top-bar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
    font-size: 13px;
}

.top-bar span {
    color: white;
}

.back-btn i {
  margin-right: 8px;
}

/* Hero Section */
.hero-section {
  height: 200px;
  background-image: url('../images/Admin2.jpg');
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

/* Current Bills Section */
.current-bills {
  height: 350px;
  padding: 30px;
  text-align: center;
}

.current-bills h2 {
  margin-bottom: 20px;
  color: rgb(195, 23, 23);
  font-size: 28px;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 1000px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

table th, table td {
  padding: 12px 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.delete-icon {
  color: rgb(195, 23, 23);
  cursor: pointer;
  font-size: 18px;
}

/* Search Bills Section */
.search-bills {
  height: 400px;
  background-color: rgb(255, 223, 223);
  padding: 30px;
  text-align: center;
}

.search-bills h2 {
  color: rgb(195, 23, 23);
  font-size: 28px;
  margin-bottom: 20px;
}

.filter-form {
  margin-bottom: 25px;
}

.filter-form label {
  font-size: 16px;
  margin-right: 10px;
  color: #333;
}

.filter-form input[type="date"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 190px;
}

.filter-form button {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: rgb(195, 23, 23);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}

.filter-form button:hover {
    background-color: darkred;
}


.results-box {
  background: white;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #555;
  height: 100px;
}

/* Copyright Footer */
.footer {
    background-color: rgb(195, 23, 23);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.footer p {
    color: white;
    margin: 0;
    font-size: 14px;
}
