
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../images/signup.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

/* Overlay layer */
.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  height: 100%;
  text-align: center;
  color: white;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Headings */
.headings h1 {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 10px;
}

.headings p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 12px;
}

/* Signup Box */
.login-box {
  background-color: rgba(0, 0, 0, 0.8); /* Dark translucent box */
  padding: 10px 34px;
  border-radius: 0px;
  width: 440px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
  margin-bottom: 25px;
  color: white;
}

/* Input fields */
.login-box input {
  width: 85%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

/* Sign Up Button */
.login-box button {
  width: 50%;
  padding: 12px;
  background-color: rgb(195, 23, 23);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: darkred;
}

/* Already a User? Login Link */
.signup {
  margin-top: 15px;
  color: white;
  font-size: 14px;
}

.signup a {
  color: rgb(195, 23, 23);
  text-decoration: none;
  font-weight: bold;
}


/* Exit Button (top-right corner, styled) */
.exit-button {
  position: fixed;
  top: 20px;
  right: 40px;
  background-color: rgb(195, 23, 23);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000;
  
}

.exit-button:hover {
  background-color: darkred;
}

/* Copyright Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(195, 23, 23);
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}

.footer p {
  color: white;
  margin: 0;
  font-size: 14px;
}

/* Role Dropdown */
.role-dropdown {
  width: 90.5%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: white;
  color: #333;
}

